<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>

  <body>
    <button id='B0000000'>报警器1</button>

    <button id='B0000001'>报警器2</button>


  </body>
</html>