<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script> 
      url = {{.url}};
      c = new WebSocket(url);
    
      c.onmessage = function(e){
        $("#status").text(e.data);
        //alert(e.data)
        console.log(e);
        
      };

      c.onerror=function(){
        $("#status").text("Connect Failure!")
      };

     c.onopen = function(){
       $("#status").text("Connect Success!")
      };

    $("document").ready(function(){
      $("#B0").click(function()
        {
          var jstr;
          var txt = $("#B0").text();
          if (txt=="Alarm Closed"){
              $("#B0").text("Alarm Opened");
              jstr = [{"TargetID":"B0000000","CmdType":"12"}];
            }
            if (txt=="Alarm Opened"){
              $("#B0").text("Alarm Closed");
              jstr = [{"TargetID":"B0000000","CmdType":"13"}];
            }
            var ret =JSON.stringify(jstr);
            c.send(ret);
        }
            // $("#status").html("<b>Hello world!</b>");
    );
})
    </script>
    <title>Transfusion</title>
  </head>
  <body>
    <h1 align="center">Transfusion Test </h1> 
    <hr style="height:1px;border:none;border-top:1px dashed #093834;" />

    <center>Alarm 0: &nbsp;&nbsp;&nbsp;<button id="B0">Alarm Closed</button> &nbsp;&nbsp;&nbsp; <label id="status">Waiting...</label></center>
    <p></p>
    <p>&nbsp;</p>

  </body>

</html>